{% extends 'base.html' %}

{% block contents %}
    <div class="container">
        {% if not request.session.user %}
            <div class="row mt-5">
                <div class="col-6">
                    <a href="{% url 'testusers:login' %}" class="btn btn-primary btn-block">로그인</a>
                </div>
                <div class="col-6">
                    <a href="{% url 'testusers:register' %}" class="btn btn-primary btn-block">회원가입</a>
                </div>
            </div>
        {% else %}
            <div class="row mt-5">
                <div class="col-12">
                    <a href="{% url 'testusers:logout' %}" class="btn btn-primary btn-block">로그아웃</a>
                </div>
            </div>
        {% endif %}
        <div class="row mt-5">
            <div class="col-12">
                <a href="{% url 'board:board-list' %}" class="btn btn-primary btn-block">게시물 보기</a>
            </div>
        </div>
    </div>

{% endblock %}