{% extends 'board/base.html' %}

{% block contents %}
    <div class="row mt-5">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>제목</th>
                    <th>아이디</th>
                    <th>일시</th>
                </tr>
                </thead>
                <tbody>
                {% for board in boards %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'board:board-detail' pk=board.pk %}">{{board.title}}</a></td>
                    <td>{{board.writer.username}}</td>
                    <td>{{ board.created|date:'Y - m - d'}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <a href="{% url 'board:board-create' %}" class="btn btn-primary">글쓰기</a>
        </div>
    </div>
{% endblock %}