{% extends 'board/base.html' %}
{% block contents %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <form action="" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% ifequal field.name 'contents' %}
                                <textarea id="{{ field.id_for_label }}" class="form-control" name="{{ field.name }}"
                                          placeholder="{{ field.label }}"></textarea>
                            {% else %}
                                <input id="{{ field.id_for_label }}" type="text" class="form-control"
                                       name="{{ field.name }}"
                                       placeholder="{{ field.label }}">
                            {% endifequal %}

                            <ul class="list-unstyled text-danger">
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary">submit</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}