{% extends 'base.html' %}
{% block contents %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <h1>{{ board.title }}</h1>
                <p class="mt-5">{{ board.contents }}</p>
            </div>
        </div>
        <hr class=>
        <div class="row">
            <div class="col-12">
                <p class="text-center">TAGS</p>
                <div class="d-flex justify-content-center">
                    {% for tag in board.tags.all %}
                        <a class="ml-3 mt-3" href="{% url 'board:board-list' %}?tags={{ tag.name }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-end mt-5">
                    <a type="button mt-5" class="btn btn-primary" href="{% url 'board:board-list' %}">뒤로</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}