{% extends 'users/base.html' %}

{% block contents %}
    <div class="container">
        <div class="text-center mt-5">
            <h1>로그인</h1>
        </div>
        <div class="col-12 m-5">
            <form action="." method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form %}
                        {#                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>#}
                        {#                        {{ field }}#}
                        {#                        {% if field.errors %}#}
                        {#                            <ul class="list-unstyled text-danger">#}
                        {#                                {% for error in field.errors %}#}
                        {#                                    <li>{{ error }}</li>#}
                        {#                                {% endfor %}#}
                        {#                            </ul>#}
                        {#                        {% endif %}#}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        <input type="{{ field.field.widget.input_type }}" class="form-control"
                               id="{{ field.id_for_label }}" name="{{ field.name }}">
                        {% if field.errors %}
                            <ul class="list-unstyled text-danger">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-primary">submit</button>

            </form>
        </div>
    </div>
{% endblock %}